/* Cores do Palmeiras */
:root {
    --verde: #006437;
    --branco: #ffffff;
    --cinza: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cinza);
    margin: 0;
    text-align: center;
}

header {
    background-color: var(--verde);
    color: var(--branco);
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border: 2px solid var(--verde);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.preco {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.btn-comprar {
    display: block;
    background-color: var(--verde);
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-comprar:hover {
    background-color: #004d2a;
}
