body{
    display: grid;
    grid-template-areas: 
     "cabeca cabeca cabeca"
     "braco corpo corpo" 
     "perna perna perna";
    grid-template-rows: 200px 600px 150px;
    grid-template-columns: 200px auto auto;
}
header{
    grid-area: cabeca;
    background-color: blue;
}
aside{
    grid-area: braco;
    background-color: red;
}
main{
    grid-area: corpo;
    background-color: green;
}
footer{
    background-color: blueviolet;
    grid-area: perna;
}
@media only screen and (max-width: 850px){
body{ 
      display: grid;
     grid-template-areas:
     "cabeca"
     "corpo"
     "perna";
     grid-template-rows: 150px auto 150px;
     grid-template-columns: 550px ;
}
}
.ast{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    border: darkblue 2px solid;
    background-color: yellow;
    width: 400ox;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}
.jogadores{
    width: 300px;
    height: auto;
}